# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# Flask instance folder
#instance/

# Flask-Session storage (if using filesystem backend)
flask_session/

# Flask cache or logs
*.log
*.pid
*.db
*.sqlite3

# LiveKit
inbound-trunk.json
dispatch-rule.json
gen.py